.site-wrap{
    padding-top: 2rem;
}
.set-pointer{
    cursor: pointer;
    font-weight: bolder;
    color: black;
    }
.set-pointer:hover
{
color: darkcyan;
font-weight: bolder;
}
.see-all-pos{
    text-align: right;
}