<br>
<div id="newsContainer" class="panel panel-primary" >
    <div class="panel-heading">
      <h2>Uploaded News List</h2>
    </div>
    <br>
    <div class="panel-body" style="overflow-x:auto;">
      <table class="table table-striped">
        <colgroup>
            <col span="1" style="width: 70%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 15%;">
         </colgroup>
        <thead>
          <tr>
            <th>News Title</th>
            <th>Category</th>
            <th>Date</th>
           
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let news of newsList" > -->
              <tr>
            <!-- <td>{{news.title}}</td>
            <td>{{news.category}}</td>
            <td>{{news.date}}</td> -->

             <td>my news</td>
            <td>Food</td>
            <td>12/12/12</td>
              
          


            <td>
                &nbsp;            
                <!-- <button (click)="deleteNews(news.newsId)" class="btn btn-danger">Delete</button>
                <button (click)="newsDetails(news.newsId)" class="btn btn-info" style="margin-left: 10px">Details</button>
                <button (click)="updateNews(news.newsId)" class="btn btn-info" style="margin-left: 10px">Update</button> -->
               <button  class="btn btn-danger">Delete</button> <br><br>
                <button  class="btn btn-info" style="margin-left: 10px">Details</button> <br><br>
                <button  class="btn btn-info" style="margin-left: 10px">Update</button>

            </td>
          </tr>
          <tr>
            <!-- <td>{{news.title}}</td>
            <td>{{news.category}}</td>
            <td>{{news.date}}</td> -->

             <td>my news 2</td>
            <td>Food</td>
            <td>12/12/12</td>
              
          


            <td>
                &nbsp;            
                <!-- <button (click)="deleteNews(news.newsId)" class="btn btn-danger">Delete</button>
                <button (click)="newsDetails(news.newsId)" class="btn btn-info" style="margin-left: 10px">Details</button>
                <button (click)="updateNews(news.newsId)" class="btn btn-info" style="margin-left: 10px">Update</button> -->
               <button  class="btn btn-danger" style="margin-left: 10px;size: 20px;">Delete</button> <br><br>
                <button  class="btn btn-info" style="margin-left: 10px;size: 20px;">Details</button> <br><br>
                <button  class="btn btn-info" style="margin-left: 10px;size: 20px;">Update</button>

            </td>
          </tr>
          <tr>
            <!-- <td>{{news.title}}</td>
            <td>{{news.category}}</td>
            <td>{{news.date}}</td> -->

             <td>my newmdmldmslmdwmdls</td>
            <td>Food</td>
            <td>12/12/12</td>
              
          


            <td>
                &nbsp;            
                <!-- <button (click)="deleteNews(news.newsId)" class="btn btn-danger">Delete</button>
                <button (click)="newsDetails(news.newsId)" class="btn btn-info" style="margin-left: 10px">Details</button>
                <button (click)="updateNews(news.newsId)" class="btn btn-info" style="margin-left: 10px">Update</button> -->
               <button  class="btn btn-danger">Delete</button> <br><br>
                <button  class="btn btn-info" style="margin-left: 10px">Details</button> <br><br>
                <button  class="btn btn-info" style="margin-left: 10px">Update</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>